[submodule "db"]
	path = db
	url = https://git@bitbucket.org/genomicepidemiology/resfinder_db.git
[submodule "vendors/kma"]
	path = vendors/kma
	url = https://ludd@bitbucket.org/genomicepidemiology/kma.git